{% macro attributes(attributes) %}
{% for name, value in attributes %}
    {%- if value is not none and value is not sameas(false) -%}
        {{- ' %s="%s"'|format(name, value is sameas(true) ? name|e : value|e)|raw -}}
    {%- endif -%}
{%- endfor -%}
{% endmacro %}

{% block compressed_root %}
{% spaceless %}
{{ block('root') }}
{% endspaceless %}
{% endblock %}

{% block root %}
{% set listAttributes = item.childrenAttributes %}
{% if options.nav_type is defined and options.nav_type == 'list' %}
{% set listAttributes = item.childrenAttributes|merge({'class': 'nav nav-list'}) %}
{% elseif options.nav_type is defined and options.nav_type == 'tabs' %}
{% set listAttributes = item.childrenAttributes|merge({'class': 'nav nav-tabs'}) %}
{% elseif options.nav_type is defined and options.nav_type == 'pills' %}
{% set listAttributes = item.childrenAttributes|merge({'class': 'nav nav-pills'}) %}
{% elseif options.nav_type is defined and options.nav_type == 'stacked-tabs' %}
{% set listAttributes = item.childrenAttributes|merge({'class': 'nav nav-tabs nav-stacked'}) %}
{% elseif options.nav_type is defined and options.nav_type == 'stacked-pills' %}
{% set listAttributes = item.childrenAttributes|merge({'class': 'nav nav-pills nav-stacked'}) %}
{% endif %}
{{ block('list') -}}
{% endblock %}

{% block list %}
{% if item.hasChildren and options.depth is not sameas(0) and item.displayChildren %}
    <ul{{ _self.attributes(listAttributes) }}>
        {{ block('children') }}
    </ul>
{% endif %}
{% endblock %}

{% block children %}
{# save current variables #}
{% set currentOptions = options %}
{% set currentItem = item %}
{# update the depth for children #}
{% if options.depth is not none %}
{% set options = currentOptions|merge({'depth': currentOptions.depth - 1}) %}
{% endif %}
{% for item in currentItem.children %}
    {{ block('item') }}
{% endfor %}
{# restore current variables #}
{% set item = currentItem %}
{% set options = currentOptions %}
{% endblock %}

{% block item %}
{% if item.displayed %}
{# building the class of the item #}
    {% if options.nav_type is defined and options.nav_type in ['list', 'tabs', 'pills', 'stacked-tabs', 'stacked-pills'] and options.currentClass == 'current' %}
        {% set options = options|merge({'currentClass': 'active'}) %}
    {% endif %}
    {%- set classes = item.attribute('class') is not empty ? [item.attribute('class')] : [] %}
    {%- if matcher.isCurrent(item) %}
        {%- set classes = classes|merge([options.currentClass]) %}
    {%- elseif matcher.isAncestor(item, options.depth) %}
        {%- set classes = classes|merge([options.ancestorClass]) %}
    {%- endif %}
    {%- if item.actsLikeFirst %}
        {%- set classes = classes|merge([options.firstClass]) %}
    {%- endif %}
    {%- if item.actsLikeLast %}
        {%- set classes = classes|merge([options.lastClass]) %}
    {%- endif %}
    {%- set attributes = item.attributes %}
    {%- if classes is not empty %}
        {%- set attributes = attributes|merge({'class': classes|join(' ')}) %}
    {%- endif %}
{# displaying the item #}
    {%- if options.nav_type == 'list' and item.label|raw == '-DIVIDER-' %}
    <li class="divider"></li>
    {%- elseif item.uri is not empty and (not matcher.isCurrent(item) or options.currentAsLink) %}
    <li{{ _self.attributes(attributes) }}>
        {{ block('linkElement') }}
{# render the list of children#}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {{ block('list') }}
    </li>
    {%- else %}
    {% set labelAttributes = item.labelAttributes %}
    {% if options.nav_type is defined and options.nav_type == 'list' %}
    {% set labelAttributes = labelAttributes|merge({'class': 'nav-header ' ~ labelAttributes.class|default('')}) %}
    {% endif %}
    <li{{ _self.attributes(labelAttributes) }}>
        {{ block('spanElement') }}
{# render the list of children#}
        {%- set childrenClasses = item.childrenAttribute('class') is not empty ? [item.childrenAttribute('class')] : [] %}
        {%- set childrenClasses = childrenClasses|merge(['menu_level_' ~ item.level]) %}
        {%- set listAttributes = item.childrenAttributes|merge({'class': childrenClasses|join(' ') }) %}
        {{ block('list') }}
    </li>
    {%- endif %}
{% endif %}
{% endblock %}

{% block linkElement %}<a href="{{ item.uri }}"{{ _self.attributes(item.linkAttributes) }}>{{ block('label') }}</a>{% endblock %}

{% block spanElement %}
    {{ block('label') }}
{% endblock %}

{% block label %}{% if options.allow_safe_labels and item.getExtra('safe_label', false) %}{{ item.label|raw }}{% else %}{{ item.label|escape|icon(matcher.isCurrent(item))|raw }}{% endif %}{% endblock %}
